@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.success{
    color: green;
    padding: 8px;
    border: 1px solid green;
    border-radius: 5px;
}
.error{
    color: orangered;
    padding: 8px;
    border: 1px solid orangered;
    border-radius: 5px;
}
.dark{
    color: #000;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
}
h2{
    margin: auto                                                    ;
    text-align: center;
}
.todo{
    width: 200px;
    text-align: center;
    margin: auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    padding: 10px;
    background-color: orange;
    color: lightgreen;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: .5rem;
    border: 1px solid orangered;
    width: 200px;
    margin: 1rem 0;
    transition: 0.3s;
}
li:hover{
    cursor: pointer;
    background-color:orangered;
    color:black;
}
button{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border: 1px solid red;
    border-radius: .5rem;
} */






/*----- MODAL STYLES ----- */
/* body{
    box-sizing: border-box;
    background-image: url('../images/sky.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal{
    z-index: 10;
    font-family: 'Roboto', sans-serif;
    max-width: 350px;
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
    color: #555;
    padding: 16px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#modal__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal__content{
    font-size: 14px;
}
.modal__title{
    font-weight: bold;
    margin: 8px 0;
}
.btn{
    padding: 6px 12px ;
    border: 1px solid orange;
    background: orangered;
    color: aqua;
    font-size: 18px;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    cursor: pointer;
    color: red;
    background: aqua;
    border: 1px solid aqua;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
} */







/*-----FORMA UCHUN STYLES || REGEX-----*/
/*body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
#form{
    width: 350px;
    height: 100px;
    background-color: aquamarine;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 1rem;
    border-radius: .5rem;
}
#username, .btn {
    background: transparent;
    border: 2px solid orangered;
    padding: 8px 6px;
    font-size: 18px;
    border-radius: 0.5rem;
    color: red;
    transition: background 0.3s;
}
#username{
    outline: none;
}
.btn:hover{
    border: 2px solid aqua;
    cursor: pointer;
    color: aqua;
    background-color: #fff;
}
.message{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.2;
    background-color: aquamarine;
    border-radius: .5rem;
    width: 350px;
    height: 100px;
    color: orangered;
    padding: 1rem;
}
.error{
    border: 2px solid tomato !important;
    box-shadow: 3px 4px 29px 3px rgba(255,0,0,0.71);
    -webkit-box-shadow: 3px 4px 29px 3px rgba(255,0,0,0.71);
    -moz-box-shadow: 3px 4px 29px 3px rgba(255,0,0,0.71);
}
.success{
    border: 2px solid greenyellow !important;
    box-shadow: 3px 4px 29px 3px rgba(0,255,8,0.71);
    -webkit-box-shadow: 3px 4px 29px 3px rgba(0,255,8,0.71);
    -moz-box-shadow: 3px 4px 29px 3px rgba(0,255,8,0.71);
} 

/*------------KEY EVENTS || GET KEY CODE ----------------*/
/* .wrapper {
    height: 100vh;
    min-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(254, 252, 252);
    justify-content: center;
}
.key {
    text-align: center;
    border-radius: 6px;
    border: 2px solid rgb(219, 219, 220);
    color: rgb(34, 34, 34);
    background-color: rgb(233, 229, 229);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1.2;
    padding: 8px 16px;
    margin: 0 2rem ;
    min-width: 100px;
    position: relative;
}
.key small{
    position: absolute;
    top: -25px;
    left: -3px;
}
.btn:first-child{
    margin: 0;
}
.key {
    display: flex;
} */






/*====================RANDOM GRADIENT COLOR==================================*/
/*
body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(43deg, #4158d0, #c850c0, #ffcc70);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    line-height: 1.2;
    position: relative;
    margin: 1rem;
}
.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(220,220,220,0.5);
    border-radius: 0.5rem;
    padding: 12px 16px;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: all 0.3s;
}
.wrapper:active, .wrapper:hover{
    cursor: pointer;
    transform: scale(1.01);
    -webkit-box-shadow: 4px 4px 14px 10px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 14px 10px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 14px 10px rgba(34, 60, 80, 0.2);
}
.wrapper h1{
    font-weight: 500;
}
.copyright {
    position: absolute;  
    bottom: 50px;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
}
@media (max-width: 450px){
    .wrapper h1{
        font-size: 24px;
    }
    .color__text{
        font-size: 12px;
    }
}
*/






/*================COUNTER || SETTIMEOUT() AND SETINTERVAL()==================*/
/* .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    min-width: 300px;
    font-family: 'Roboto', sans-serif;
}
.nbr {
    font-size: 4rem;
    color: #222;
    padding: 10px 18px;
    font-weight: normal;
}
.counter {
    display: flex;
}
.btn {
    border: 1px solid rgb(56, 220, 56);
    padding: 6px 10px;
    margin: 0 8px;
    border-radius: 6px;
    color: rgb(4, 87, 4);
    background-color: rgb(214, 248, 162);
    width: 80px;
    transition: background 0.3s;
}
.btn:hover{
    background-color: #fff;
    transform: scale(1.01);
} */






/*==================PING PONG GAME=====================*/
/* body{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/ping-pong__bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrapper {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    color: aqua;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}
.img {
    width: 250px;
}
.result{
    font-size: 3rem;
}
.select{
    font-size: 20px;
    width: 60px;
    height: 30px;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 0 6px;
    outline: none;
    color: aqua;
    transition: 0.3s;
    background-color: #7b7777;
    font-weight: bold;
}
.select:hover{
    transform: scale(1.02);
    cursor: pointer;
    background-color: #fff;
}
.btn {
    border-radius: 4px;
    font-size: 20px;
    padding: 10px 18px;
    margin: 10px;
    border: 1px solid #bbb;
    outline: none;
    color: #eee;
    text-transform: capitalize;
    font-weight: bold;
    transition: all 0.3s;
}
#player-one__btn{
    background-color: green;
    width: 140px;
}
#player-two__btn{
    background-color: blue;
    width: 140px;
}
#reset__btn{
    background-color: red;
    width: 300px;
}
.btn:hover{
    transform: scale(1.02);
    cursor: pointer;
}
#player-one__btn:hover{
    background-color: #eee;
    color: green;
}
#player-two__btn:hover{
    background-color: #eee;
    color: blue;
}
#reset__btn:hover{
    color: red;
    background-color: #eee;
} */





/*==========NOW DATE || TIME || VAQT ANIQLAGICH===========*/
/* .wrapper{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(../images/al-azhar.jpg);
    color: rgb(255, 255, 255,0.8);
}
.now-date {
    padding: 6px 12px;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 0px 0px 20px #ccc;
}
.time{
    padding: 6px 12px;
    font-size: 30px;
    font-weight: normal;
} */





/*ROLL DICE GAME STYLES*/
/* body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.player__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    height: 450px;
    box-shadow: 0px 0px 20px rgba(33, 220, 142, 0.8);
    padding: 10px 18px;
    text-align: center;
    color: #006400;
}
.player0{
    background-image: linear-gradient( 135deg, #F0FF00 10%, #92FFC0 100%);
    border-radius: 0.5rem 0 0  0.5rem;
}
.player1 {
    background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
    border-radius: 0 0.5rem 0.5rem 0;
}
.title{
    font-weight: normal;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.score0, .score1 {
    font-size: 3rem;
    font-weight: normal;
}
.current-div {
    border-radius: 0.5rem;
    background-image: linear-gradient(120deg, #d4fc79 0%, #a5fbb1 100%);
    box-shadow: 0px 0px 20px rgba(33, 220, 142, 0.8);
    padding: 10px 18px;
    text-align: center;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.current {
    text-transform: uppercase;
    font-size: 20px;
}
.player__active{
    background-image: linear-gradient(45deg, #51de80 0%, #86df26 100%);
}
.account1, .account2{
    font-size:1.5rem ;
}
.btn {
    border: 1px solid #006400;
    border-radius: 0.5rem;
    padding: 6px 12px;
    text-transform: capitalize;
    color: green;
    background-image: radial-gradient( circle farthest-corner at 50.7% 54%,  rgba(204,254,152,1) 0%, rgba(229,253,190,1) 92.4% );
    transition: background 0.3s;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: #006400;
}
.reset__btn {
    position: absolute;
    top: 15%;
    left: 41%;
}
.dice__btn {
    position: absolute;
    top: 65%;
    left: 42%;
}
.hold__btn {
    position: absolute;
    top: 75%;
    left: 45%;
}
.img{
    position: absolute;
    left: 40%;
    top: 30%;
    width: 120px;
    border-radius: 1rem;
}
.winner{
    background-image: radial-gradient( circle farthest-corner at 50.7% 54%,  greenyellow 10%, green 92.4% );
} */






/*===========CALCULATOR========*/
/* body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #efefef;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
width: 300px;
height: 500px;
box-shadow: 4px 4px 30px rgba(0,0,0,0.3);
border-radius: 12px;
background: #22252d;
overflow: hidden;
}
.screen{
    width: 100%;
    height: 150px;
    border-radius: 12px;
    border: none;
    color: #fff;
    background-color: #000;
    padding: 1rem;
    font-size: 2rem;
    text-align: right;
    pointer-events: none;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;


}
.btn, .btn-equal {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.btn-yellow {
    color: #fff;
    background-color: rgb(245,146,62);
}
.btn-grey {
    color: #fff;
    background-color: rgb(141, 135, 135);
}
.btn-equal{
    color: #fff;
    background-color: green;
}
.btn-clear {
    color: #fff;
    background-color: red;
} */






/*=======CREATE PRODUCT SEARCH=======*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600;800;900&display=swap');

/* body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: rgba(240,240,240,0.8);
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.container{
    width: 375px;
    height: 500px;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.8);
    padding: 1rem;
    overflow-y: scroll;
}
.container::-webkit-scrollbar{
    display: none;
}
.container form{
    width: 338px;
    position: fixed;
    border-radius: 0.5rem;
    border: 1px solid rgb(82,74,235);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
}
.container form .search{
    width: 338px;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 8px 10px;
    background-color: rgba(255,255,255,0.8);
}
.container form i {
    padding-left: 10px;
}
.product-list{
    margin-top: 20px;
    padding: 20px 0;
}
.product-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 15px 0;
}
.product-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}
.product-content {
    padding-left: 15px;
}
.product-name {
    font-size: 20px;
    color: #1d1d1d;
    margin: 2px 0;
    text-transform: capitalize;
}
.product-price {
    font-size: 18px;
    margin: 2px 0;
    color: #1d1d1d;
} */





/*==========VANILLA JAVASCRIPT SMOOTH SCROLL TUTORIAL=============*/
/* .wrapper {
    font-family: 'Roboto', sans-serif;
}
.box1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}
.link1, .link2 {
    color: orangered;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}
.box2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */





/**/
body{
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}
p{
    width: 200px;
    height: 70px;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}



